In [9]:
## Load the mpg-raw dataset and display the first 10 rows. what information is contained in this dataset?

import pandas as pd

# Load the dataset
file_path = r"C:\Users\praga\Downloads\mpg_raw.csv"
mpg_data = pd.read_csv(file_path)

# Display the first 10 rows
mpg_data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl

In [7]:
# Display the Data Types of all the variables from the above dataset 
mpg_data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object

In [10]:
# Display the duplicate rows from the above dataset using Python.
duplicate_rows = mpg_data[mpg_data.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin, name]
Index: []

In [14]:
# Display the categorical and continuous variables in the dataset using python.
categorical_vars = mpg_data.select_dtypes(include=['object']).columns
continuous_vars = mpg_data.select_dtypes(include=['float64', 'int64']).columns

print("Categorical Variables:")
print(categorical_vars)

print("\nContinuous Variables:")
print(continuous_vars)

Categorical Variables:
Index(['origin', 'name'], dtype='object')

Continuous Variables:
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year'],
      dtype='object')

In [ ]:
# Plot the distribution of the 'origin' variable. How does the origin affect the other features in the dataset?